.kinh-mach-item {
  @apply pl-4;
  @apply text-sm;
  @apply cursor-pointer;
  color: #705f4a;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 2px;
}

.kinh-mach-item:hover,
.kinh-mach-item.actived {
  color: #970700;
}
